.accueil {
  display: none;
}

.introduction {
  background-color: var(--third-color);
  padding: 1.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-family: var(--primary-font);
  font-size: 0.8em;
  border-top: 3px rgb(54, 74, 54) solid;
  margin-top: -0.5vh;
}

.question {
  text-align: center;
  padding: 2em;
  font-family: var(--primary-font);
  font-size: 0.9em;
  color: var(--secondary-color);
}
.menu {
  background-color: var(--primary-color);
}
.link {
  text-decoration: none;
  font-family: var(--primary-font);
  font-size: 1em;
  color: var(--text-color);
  background-color: var(--third-color);
  width: 45vw;
  height: 45vw;
  border-radius: 1em;
  text-align: center;
  display: flex;

  align-items: center;
  justify-content: center;
}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-bottom: 2em;
}

.bold-text {
  font-weight: bold;
}
.question {
  font-weight: bold;
}

.sortez {
  font-size: 2em;
  text-align: center;
  font-family: var(--h1-font);
  padding: 0.5em;
}

.link1 {
background-color: rgb(247, 225, 197);
}
.link2 {
  background-color: rgb(241, 207, 162);
}
.link3 {
  background-color: rgb(244, 213, 171);
}
.link4 {
  background-color: rgb(248, 204, 146);
}

/*            DESKTOP VERSION */
@media screen and (min-width: 990px) {
  .page_accueil {
    background-color: var(--primary-color);
  }

  .introduction {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    font-size: 1.1em;
    width: 80vw;
    border-radius: 0em 0em 0em 0em;
    border-top: 5px rgb(54, 74, 54) solid;
    margin-top: 0;
  }

  .bold-text {
    font-weight: bold;
  }
  .question {
    font-size: 2em;
    font-weight: bold;
  }
  .link {
    width: 20vw;
    height: 20vw;
    color: var(--third-color);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 1.7em;
  }
  .link:hover {
    border: 4px solid var(--secondary-color);
  }
  .links {
    gap: 1.5em;
  }
  .link1 {
    background-image: url("../../public/images/HomePage/onehour.jpeg");
    background-size: cover;
  }
  .link2 {
    background-image: url("../../public/images/HomePage/afternoon.jpg");
  }
  .link3 {
    background-image: url("../../public/images/HomePage/weekend.jpeg");
  }
  .link4 {
    background-image: url("../../public/images/HomePage/jardinp.png");
    background-size: cover;
  }

  .sortez {
    font-size: 8em;
  }
}
