.single-card {
  font-family: var(--primary-font);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  background-color: var(--third-color);
}

.card-image {
  width: 90vw;
  height: 90vw;
  object-fit: cover;
}

.card-title {
  color: var(--third-color);
  font-family: var(--title-font);
  font-size: 2.2em;
  padding-left: 10px;
  padding-top: 10px;
}

.card-infos {
  color: var(--primary-color);
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.5em;
}
.info-over-image {
  position: absolute;
  top: 34%;
  left: 5%;
  width: 90vw;
  background-color: rgb(0, 0, 0, 0.5);
}

.card-description {
  font-size: 0.8em;
  width: 80vw;
  text-align: center;
  margin-top: 1em;
}

.card-button {
  font-family: var(--primary-font);
  color: var(--third-color);
  background-color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  box-shadow: rgb(88, 56, 56) 0px 5px 0px;
  border-radius: 30px;
  margin-top: 1em;
  cursor: pointer;
  margin-left: 30%;
}

@media screen and (min-width: 992px) {
  .single-card {
    display: flex;
    flex-direction: row;
    position: initial;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    width: 49%;
    gap: 1em;
    padding: 0;
  }
  .card-title {
    color: var(--secondary-color);
    font-size: 3em;
  }
  .info-over-image {
    position: initial;
    background-color: var(--third-color);
    width: 90%;
  }

  .card-image {
    width: 18vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 30px;
  }

  .card-infos {
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 46%;
  }

  .card-description {
    width: 100%;
    text-align: left;
    font-size: 1em;
  }

  .card-button {
    margin-left: 55%;
    margin-bottom: 1em;
    font-size: large;
  }

  .card-hashtag {
    font-size: large;
  }
  .card-city {
    font-size: large;
    padding-left: 1em;
    padding-right: 0em;
  }
}
