.footer {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
  height:10vh;
}
.footer-banner {
  display:none 
}
.devTitle {
  font-family: var(--primary-font);
  font-weight: 600;
  color: var(--third-color);
  font-size: small;
  display: flex;
  align-items: center;
  line-height: 1.5em;
}

.dev {
  font-family: var(--primary-font);
  color: var(--text-color);
  font-size: small;
}

.logoWCS {
  display:none
}

.devBlock {
  display: flex;
  flex-direction: column;
  justify-content: start
}

@media screen and (min-width: 990px) {

  .footer{
    justify-content:space-around;
    padding-top:1em;
    padding-bottom:1em
  }
.logoWCS{display:initial;
  width:10%
}
  .devTitle{
    font-size: 1.2em;
  }
  .dev {
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 1em;
    line-height:1.2em;
  }


  .footer-banner {
    display:initial;
    width:101%;
    margin-bottom: -2%;
    margin-left:-0.5%;
    margin-top:-1%
    
  }

  .icon-flower{

color: var(--secondary-color)
  }
}
